$sidebarWidth: 260px;
$optionsSidebarWidth: 220px;

$desktopBreakpoint: 992px;

:root {
  --primary-color: #003a5d;
  --primary-color-variant: #005183;

  --secondary-color: #8b9091;
  --secondary-color: #afb5b7;

  --main-text-color: #252525;
  --cta-text-color: #9bd1f3;

  --primary-text-color: #fff;
  --secondary-text-color: #252525;
  --error-text-color: #a00a0a;
}
